*.pptx
*~
bib.bib
jcd.sty
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.log
*.out
*.toc
*.nav
*.snm
*.pdf
*.fdb_latexmk
*.fls
!arxiv/figures/*.pdf
*.thm
*.synctex.gz
*.lyx~
*.lyx#
*.zip
*.xml
*.mat
*.csv
*converted-to.pdf
.DS_Store
*.el
*.orig
*-checkpoint.ipynb
*.rel
*.org
